<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lwkandroid.imagepicker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <provider
            android:name=".utils.IPCacheProvider"
            android:authorities="${applicationId}_c.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ip_cache_path"/>
        </provider>
        <provider
            android:name=".utils.IPExCacheProvider"
            android:authorities="${applicationId}_ex_c.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ip_external_cache_path"/>
        </provider>
        <provider
            android:name=".utils.IPExFilesProvider"
            android:authorities="${applicationId}_ex_f.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ip_external_files_path"/>
        </provider>
        <provider
            android:name=".utils.IPExProvider"
            android:authorities="${applicationId}_ex.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ip_external_path"/>
        </provider>
        <provider
            android:name=".utils.IPFilesProvider"
            android:authorities="${applicationId}_f.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ip_files_path"/>
        </provider>

        <activity
            android:name=".ui.grid.view.ImageDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.pager.view.ImagePagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.crop.ImageCropActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>